body{
    font-family: 'Italiana', serif;
}

.heading-primary {
    color: #000;
    font-size: 6rem;
    margin-bottom: 1rem;
    font-weight: 800;

    &--light{
        color: #fff;
        font-size: 5rem;
    }

}

.paragraph {
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 2rem;
    text-align: justify;
    line-height: 2.3rem;

    &--light{
        color: #fff;
    }

    &--center {
        width: 30rem;
        margin: auto;
        text-align: center;
    }
}
