.section-subscribe {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .picture {
        background-image: url("../assets/img/blueberries.png");
        height: 35rem;
        width: 60rem;
    }

    .subscribe-input {
        width: 40rem;
        height: 4rem;
        outline: none;
        margin-right: 4rem;
        padding-left: 1rem;
        font-size: 1.5rem;
    } 
}
