.section-about {
    background-color: #00cccc;

    .picture {
        width: 55rem;
        background-image: url('../assets/img/about-photo.png');
    }

    .content-box {
        width: 40rem;
        margin-right: 20rem;
    }
}