.btn {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    color: #fff;
    width: 14rem;
    height: 4rem;
    outline: none;
    border: none;
    font-size: 1.5rem;

    &--orange {
        background-color: #FF4500;
    }

    &--blue {
        background-color: #54a4e3;
    }
    
    &--green {
        background-color: #98d544;
    }

    &--red {
        background-color: #f9062b;
    }
}
